
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

* {
  box-sizing: border-box;
}

body {
		margin:0;
		margin-left: 25%;
		width: calc(100% - 25%);
		height: 100%;
		background-color: #1f1815;
		background-attachment: scroll;
		background-image: url('../css/images/main.jpg');
		background-position: top left;
		background-repeat: no-repeat;
		background-size: cover;
}

p.p-left {
	margin-top: 25px;
}

.header {
	background-color: #f1f1f1;
	padding: 20px;
	text-align: center;
	
	
}


/* left column */

	#left {
		
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		background-color: #0E2342  ;
		/*
		background-attachment: scroll;
		background-image: url('../css/images/bg.jpg');
		background-position: top left;
		background-repeat: no-repeat;
		background-size: auto;
		*/
		font-family: 'Trebuchet MS', sans-serif;
		font-size: 12pt;
		font-weight:normal
		line-height: 2.25em;
		color: rgba(255, 255, 255, 0.8);
		height: 100%;
		left: 0;
		padding: 4em 4em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 25%;
		
	}

		#left > * {
			flex-shrink: 0;
			width: 100%;
		}

		#left > .first {
			flex-grow: 1;
			margin: 0 0 2em 0;
		}

		#left strong, #left b {
			color: #ffffff;
		}
		
/* main */

/* section one text */

#main {
		padding: 4em 4em 4em 4em;
		font-family: 'Trebuchet MS', sans-serif;
		font-size: 12pt;
		font-weight:normal
		line-height: 2.25em;
		color: rgba(255, 255, 255, 0.8);
	}

#main > section {
			/*border-top: solid 2px #efefef; */
			margin: 4em 0 0 0;
			padding: 0em 0 0 0;
}

#main > section:first-child {
				border-top: 0;
				margin-top: 0;
				padding-top: 0;
}
			
			
.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
}

.row > * {
			box-sizing: border-box;
			padding: 3em;
}



.row > .images-sections {
	width: 50%;
	
}



/* XLarge */

	@media screen and (max-width: 1800px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 12pt;
			}

	}

/* Large */

	@media screen and (max-width: 1280px) {

		/* Header */

			#header {
				padding: 6em 3em 3em 3em;
				width: 30%;
			}

				#header h1 {
					font-size: 1.25em;
				}

					#header h1 br {
						display: none;
					}

				#header > .left {
					margin-bottom: 0;
				}

		/* Footer */

			#footer .copyright li {
				border-left-width: 0;
				display: block;
				line-height: 2.25em;
				margin-left: 0;
				padding-left: 0;
			}

		/* Main */

			#main {
				margin-left: 30%;
				max-width: none;
				padding: 6em 3em 3em 3em;
				width: calc(100% - 30%);
			}

	}

/* Medium */

	@media screen and (max-width: 980px) {

		/* Basic */

			h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
				display: none;
			}

		/* List */

			ul.icons li .icon {
				font-size: 1.25em;
			}

		/* Header */

			#header {
				background-attachment: scroll;
				background-position: top left, center center;
				background-size: auto,		cover;
				left: auto;
				padding: 6em 4em;
				position: relative;
				text-align: center;
				top: auto;
				width: 100%;
				display: block;
			}

				#header h1 {
					font-size: 1.75em;
				}

					#header h1 br {
						display: inline;
					}

		/* Footer */

			#footer {
				background-attachment: scroll;
				background-color: #1f1815;
				background-image: url("images/overlay.png"), url("../../images/bg.jpg");
				background-position: top left,						bottom center;
				background-repeat: repeat,							no-repeat;
				background-size: auto,							cover;
				bottom: auto;
				left: auto;
				padding: 4em 4em 6em 4em;
				position: relative;
				text-align: center;
				width: 100%;
			}

				#footer .icons {
					margin: 0 0 1em 0;
				}

				#footer .copyright {
					margin: 0 0 1em 0;
				}

					#footer .copyright li {
						border-left-width: 1px;
						display: inline-block;
						line-height: 1em;
						margin-left: 0.75em;
						padding-left: 0.75em;
					}

		/* Main */

			#main {
				margin: 0;
				padding: 6em 4em;
				width: 100%;
			}

	}

/* Small */

	@media screen and (max-width: 736px) {

		/* Basic */

			h1 {
				font-size: 1.5em;
			}

			h2 {
				font-size: 1.2em;
			}

			h3 {
				font-size: 1em;
			}

		/* Section/Article */

			section.special, article.special {
				text-align: center;
			}

			header.major h2 {
				font-size: 1.35em;
			}

		/* List */

			ul.labeled-icons li {
				padding-left: 2em;
			}

				ul.labeled-icons li h3 {
					line-height: 1.75em;
				}

		/* Header */

			#header {
				padding: 2.25em 1.5em;
			}

				#header h1 {
					font-size: 1.35em;
				}

		/* Footer */

			#footer {
				padding: 2.25em 1.5em;
			}

		/* Main */

			#main {
				padding: 2.25em 1.5em 0.25em 1.5em;
			}

				#main > section {
					margin: 2.25em 0 0 0;
					padding: 2.25em 0 0 0;
				}


	}

/* XSmall */

	@media screen and (max-width: 480px) {

		/* Header */

			#header {
				padding: 4.5em 1.5em;
			}

				#header h1 br {
					display: none;
				}

		/* Footer */

			#footer .copyright li {
				border-left-width: 0;
				display: block;
				line-height: 2.25em;
				margin-left: 0;
				padding-left: 0;
			}

	}
