
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

* {
  box-sizing: border-box;
}

body {
		margin:0;
		margin-left: 25%;
		width: calc(100% - 25%);
		height: 100%;
		background-color: #1f1815;
		background-attachment: scroll;
		background-image: url('../css/images/main.jpg');
		background-position: top left;
		background-repeat: no-repeat;
		background-size: cover;
}

p.p-left {
	margin-top: 25px;
}

.header {
	background-color: #f1f1f1;
	padding: 20px;
	text-align: center;
	
	
}


/* left column */

	#left {
		
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		background-color: #0E2342  ;
		/*
		background-attachment: scroll;
		background-image: url('../css/images/bg.jpg');
		background-position: top left;
		background-repeat: no-repeat;
		background-size: auto;
		*/
		font-family: 'Trebuchet MS', sans-serif;
		font-size: 12pt;
		font-weight:normal
		line-height: 2.25em;
		color: rgba(255, 255, 255, 0.8);
		height: 100%;
		left: 0;
		padding: 4em 4em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 25%;
		
	}

		#left > * {
			flex-shrink: 0;
			width: 100%;
		}

		#left > .first {
			flex-grow: 1;
			margin: 0 0 2em 0;
		}

		#left strong, #left b {
			color: #ffffff;
		}
		
/* main */

/* section one text */

#main {
		padding: 4em 4em 4em 4em;
		font-family: 'Trebuchet MS', sans-serif;
		font-size: 12pt;
		font-weight:normal
		line-height: 2.25em;
		color: rgba(255, 255, 255, 0.8);
	}

#main > section {
			/*border-top: solid 2px #efefef; */
			margin: 4em 0 0 0;
			padding: 0em 0 0 0;
}

#main > section:first-child {
				border-top: 0;
				margin-top: 0;
				padding-top: 0;
}
			
			
.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
}

.row > * {
			box-sizing: border-box;
			padding: 3em;
}



.row > .images-sections {
	width: 50%;
	
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	
.body {
		margin:0;
		margin-left: 15%;
		width: calc(100% - 15%);
		height: 100%;
		
}

.header {
	padding: 10px;
	text-align: center;
	
	
}
	
	
	
}

}
